@import "variables.scss";
$color-texto-1: #000;
$color-texto-2: #fff;
$dorado: #C09632;

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  line-height: 1.2em;
  margin-bottom: 1em;
  font-family: sans-serif;
  font-size: 1.1em;
  @include chico {
    font-size: 1em;
  };
  @include extra-chico {
    font-size: 1em;
  };
}

strong {
  font-weight: 800;
}

figure {
  display: block;
  position: relative;
  overflow: hidden;
  @include chico {
    margin-bottom: 20px;
  };
  @include extra-chico {
    margin-bottom: 20px;
  };
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: auto;
  display: block;
}

.blur {
  animation: 0.8s ease;
  filter: blur(10px);
  opacity: 0.5;
}

.blur-suave {
  animation: 0.8s ease;
  filter: blur(1px);
  opacity: 0.9;
}

.grayscale {
  animation: 0.8s ease;
  filter:grayscale(100%);
  opacity: 0.7;
}

.sepia {
  animation: 0.8s ease;
  filter:sepia(100%);
  opacity: 0.7;
}

.no-overflow {
  overflow: hidden;
}

.mobil {
  display: none !important;
  @include chico {
    display: block !important;
  };
  @include extra-chico {
    display: block !important;
  };
}

.desktop {
  display: block !important;
  @include chico {
    display: none !important;
  };
  @include extra-chico {
    display: none !important;
  };
}

.creditofoto {
  position: absolute;
  display: flex;
  bottom: 10px;
  width: 100%;
  justify-content: center;

  p {
    text-align: center;
  }
}

figure .creditofoto {
  position: absolute;
  display: flex;
  bottom: 10px;
  width: 100%;
  justify-content: center;
  @include chico {
    position: relative;
    bottom: auto;
    margin-top: 20px;
    border-bottom: solid 1px #000;
  };
  @include extra-chico {
    position: relative;
    bottom: auto;
    margin-top: 20px;
    border-bottom: solid 1px #000;
  };

  p {
    text-align: center;
    @include chico {
      width: 100%;
      font-size: 0.9em;
      text-align: right;
      line-height: normal;
      padding: 0 10px;
    };
    @include extra-chico {
      width: 100%;
      font-size: 0.9em;
      text-align: right;
      line-height: normal;
      padding: 0 10px;
    };
  }
}

.txt-blanco {
  h3 {
    color: #{$color-texto-2};
    font-size: 1.6em;
    margin-bottom: 0.6em;
    text-align: center;
  }

  p {
    color: #{$color-texto-2};
  }

  blockquote {
    color: #{$color-texto-2};
  }
}

.mobil-txt-blanco {
  @include chico {
    h3 {
      color: #{$color-texto-2} !important;
      font-size: 1.6em;
      margin-bottom: 0.6em;
      text-align: center;
    }

    p {
      color: #{$color-texto-2} !important;
    }

    blockquote {
      color: #{$color-texto-2} !important;
    }
  };
  @include extra-chico {
    h3 {
      color: #{$color-texto-2} !important;
      font-size: 2.4em;
      margin-bottom: 0.6em;
      text-align: center;
    }

    p {
      color: #{$color-texto-2} !important;
    }

    blockquote {
      color: #{$color-texto-2} !important;
    }
  };
}

.txt-negro {
  h3 {
    color: #{$color-texto-1};
    font-size: 2.4em;
    margin-bottom: 0.6em;
    text-align: center;
  }

  p {
    color: #{$color-texto-1};
  }

  blockquote {
    color: #{$color-texto-1};
  }
}

.mobil-txt-negro {
  @include chico {
    h3 {
      color: #{$color-texto-1} !important;
      font-size: 2.4em;
      margin-bottom: 0.6em;
      text-align: center !important;
    }

    p {
      color: #{$color-texto-1} !important;
    }

    blockquote {
      color: #{$color-texto-1} !important;
    }
  };
  @include extra-chico {
    h3 {
      color: #{$color-texto-1} !important;
      font-size: 2.4em;
      margin-bottom: 0.6em;
      text-align: center !important;
    }

    p {
      color: #{$color-texto-1} !important;
    }

    blockquote {
      color: #{$color-texto-1} !important;
    }
  };
}

.txt-izquierda {
  text-align: left;
}

.txt-derecha {
  text-align: right;
}

.dorado {
  color: #{$dorado};
}

.medio {
  width: 50%;
  display: block;
  position: relative;
  float: left;
  @include chico {
    width: 100% !important;
  };
  @include extra-chico {
    width: 100% !important;
  };
}

.tercio {
  width: 33.33333%;
  display: block;
  position: relative;
  @include chico {
    width: 100% !important;
  };
  @include extra-chico {
    width: 100% !important;
  };
}

.cuarto {
  width: 25%;
  display: block;
  position: relative;
  @include chico {
    width: 100% !important;
  };
  @include extra-chico {
    width: 100% !important;
  };
}

.mobil-invertir-columnas {
  @include chico {
    display: flex !important;
    flex-direction: column-reverse !important;
  };
  @include extra-chico {
    display: flex !important;
    flex-direction: column-reverse !important;
  };
}

.mobil-invertir-filas {
  @include chico {
    display: flex !important;
    flex-direction: row-reverse !important;
  };
  @include extra-chico {
    display: flex !important;
    flex-direction: row-reverse !important;
  };
}

.mobil-sin-fondo {
  @include chico {
    background-image: none !important;
  };
  @include extra-chico {
    background-image: none !important;
  };
}

.alinea-izquierda {
  align-items: center;
  align-self: flex-start;
  padding: 40px;
  @include chico {
    width: 100%;
    padding: 0;
  };
  @include extra-chico {
    width: 100%;
    padding: 0;
  };

  h1,
  h2,
  h3,
  p {
    text-align: left;
  }
}

.alinea-derecha {
  align-items: center;
  align-self: flex-end;
  padding: 40px;
  @include chico {
    width: 100%;
    padding: 0;
  };
  @include extra-chico {
    width: 100%;
    padding: 0;
  };

  h1,
  h2,
  h3,
  p {
    text-align: left;
  }
}

.cycle-overlay {
  z-index: 101;
  width: 100%;
  color: #fff;
  background-color: #000;
  display: flex;
  justify-content: flex-start;
  opacity: 0.8;

  p {
    margin-bottom: 0;
    padding: 10px;
  }
}

.primera-letra {
  float: left;
  font-size: 8em;
  margin-top: -0.16em;
  font-family: serif;
  font-weight: 800;
  padding: 0;
  line-height: 1;
  margin: 0 10px;
}

blockquote {
  font-size: 1.4em;
  font-weight: bold;
}

.share-article {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  @include chico {
    margin: 20px auto;
  };
  @include extra-chico {
    margin: 20px auto;
  };

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;

    li {
      margin: 5px;

      a {
        display: flex;
        width: 30px;
        height: 30px;
        text-align: center;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        &.facebook {
          background-image: url("../img/facebook.png");
        }

        &.twitter {
          background-image: url("../img/twitter.png");
        }

        &.email {
          background-image: url("../img/email.png");
        }

        &.print {
          background-image: url("../img/printer.png");
        }
      }
    }
  }
}

.divisor {
  display: flex;
  justify-content: center;
  position: relative;

  &::before {
    content: "";
    width: 40%;
    position: absolute;
    height: 2px;
    background-color: #000;
    top: 50%;
    left: 0;
  }

  &::after {
    content: "";
    width: 40%;
    position: absolute;
    height: 2px;
    background-color: #000;
    top: 50%;
    right: 0;
  }
}

#contenedor-principal {
  display: flex;
  flex-direction: row;
  width: 100%;

  #circuloLoader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #fff;
    -webkit-transition: 0.6s ease-out;
    transition: 0.8s ease-out;
    z-index: 10;
    margin-left: 30px;

    &.activo {
      width: 450vh;
      height: 450vh;
    }
  }

  #infoEstado {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #000;
    z-index: 10;
    justify-content: center;
    align-items: center;
    padding: 10px;
    @include chico {
      bottom: 0;
      top: auto;
    };
    @include extra-chico {
      bottom: 0;
      top: auto;
    };

    p {
      margin: 0;
      color: #fff;
      font-weight: bold;
    }
  }

  #menu-desplegable {
    display: flex;
    position: fixed;
    background-color: #fff;
    width: calc(100% - 60px);
    height: 100%;
    top: 0;
    right: 0;
    z-index: 3;
    opacity: 0;
    transition: 0.8s ease;
    z-index: 1;
    @include chico {
      width: 100%;
      height: calc(100% - 60px);
      top: 60px;
    };
    @include extra-chico {
      width: 100%;
      height: calc(100% - 60px);
      top: 60px;
    };

    #menu-mapa {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0;

      svg {
        margin: auto;
        max-width: 100%;
        height: auto;

        path {
          stroke: #ccc !important;
          stroke-width: 1.4;
        }

        .estado-valido {
          cursor: pointer;
          transition: 0.5s ease;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }

    &.active {
      right: 0;
      opacity: 1;
      z-index: 5;

      #menu-mapa {
        animation-delay: 3s;
        opacity: 1;
      }
    }
  }

  #fondo {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: 0.5s all;
    overflow: hidden;

    > div{
      width: 100%;
      min-height: 100%;
      .bg-negro{
        background-color: #000;
      }
    }

    @include chico {
      padding: 0;
    };
    @include extra-chico {
      padding: 0;
    };

    img {
      width: 100%;
      height: auto;
      @include mediano {
        width: auto;
        height: 100%;
      };
      @include chico {
        width: auto;
        height: 100%;
      };
      @include extra-chico {
        width: auto;
        height: 100%;
      };
    }
  }

  #menu {
    z-index: 3;
    color: #000;
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 60px;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #fff;
    @include chico {
      height: 60px;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    };
    @include extra-chico {
      height: 60px;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    };

    #logo {
      z-index: 2;
      @include chico {
        height: 60px;
      };
      @include extra-chico {
        height: 60px;
      };

      a {
        @include chico {
          height: 60px;
          width: 60px;
          display: flex;
        };
        @include extra-chico {
          height: 60px;
          width: 60px;
          display: flex;
        };
      }
    }

    ul {
      width: 80%;
      margin: 10px auto;
      display: flex;
      flex-direction: column;
      @include chico {
        flex-direction: row;
        width: auto;
        margin: 10px;
      };
      @include extra-chico {
        flex-direction: row;
        width: auto;
        margin: 10px;
      };

      li {
        display: flex;
        position: relative;

        #circuloMenu {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
          width: 0;
          height: 0;
          border-radius: 50%;
          background: #fff;
          -webkit-transition: 0.6s ease-out;
          transition: 0.6s ease-out;

          &.activo {
            width: 450vh;
            height: 450vh;
          }
        }

        a {
          display: flex;
          width: 100%;
          position: relative;

          img {
            width: 25px;
            height: 25px;
            margin: 10px auto;
            display: flex;
            @include chico {
              margin: auto 10px;
            };
            @include extra-chico {
              margin: auto 10px;
            };
          }
        }

        ul#redesSociales {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          margin: 0;
          padding: 0;
          position: absolute;
          left: 0;
          top: 100%;
          width: 100%;
          left: 0;
          z-index: 4;
          opacity: 0;
          @include chico {
            background-color: #fff;
          };
          @include extra-chico {
            background-color: #fff;
          };

          &::before {
            content: "";
            width: 0;
            top: 0;
            height: 1px;
            background-color: #000;
            margin: auto;
            position: relative;
            float: none;
            -webkit-transition: 0.5s ease;
            transition: 0.5s ease;
          }

          li {
            /*position: absolute;*/
            position: relative;
            top: 0;
            opacity: 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding: 0;
            margin: 0;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 100%;
            height: 38px;

            &:nth-child(1) {
              margin-top: 10px;
              -webkit-transition: 0.5s ease;
              transition: 0.5s ease;
            }

            &:nth-child(2) {
              -webkit-transition: 0.8s ease;
              transition: 0.8s ease;
            }

            &:nth-child(3) {
              -webkit-transition: 1s ease;
              transition: 1s ease;
            }

            a {
              -webkit-transition: 0.5s ease;
              transition: 0.5s ease;
              width: 100%;
              height: 100%;
              position: absolute;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              margin-top: 0;
              background-size: 30px;
              top: -5px;
              background-repeat: no-repeat;
              background-position: center;

              &#facebook {
                background-image: url("../img/facebook-dark.png");
              }

              &#twitter {
                background-image: url("../img/twitter-dark.png");
              }

              &#google {
                background-image: url("../img/google-dark.png");
              }
            }
          }

          &.activo {
            opacity: 1;

            &::before {
              width: 90%;
            }

            li {
              opacity: 1;

              a {
                top: 0;
              }
            }
          }
        }
      }
    }
  }

  #controles {
    z-index: 3;
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    padding: 10px;
    justify-content: center;
    background-color: #00A96D;
    align-items: center;
    @include chico {
      top: 60px;
    };
    @include extra-chico {
      top: 60px;
    };

    #bocina {
      width: 20px;
      height: 20px;
      margin-left: 10px;
      display: flex;
    }

    p {
      margin-bottom: 0;
      color: #fff;
    }
  }

  #contenedor {
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 60px;
    @include chico {
      padding: 0;
    };
    @include extra-chico {
      padding: 0;
    };

    section.seccion {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
      margin: 0;

      &.intro {
        h1,
        h2,
        h3,
        p {
          text-align: center;
          line-height: 1.3em;
          margin-bottom: 0.2em;
        }

        h1 {
          font-size: 4.5em;
          color: #fff;
          text-transform: uppercase;
          font-family: sans-serif;
          font-weight: 800;
          @include chico {
            font-size: 4em;
          };
          @include extra-chico {
            font-size: 4em;
          };
        }

        h2 {
          font-size: 2em;
          color: #fff;
          text-transform: uppercase;
          @include chico {
            font-size: 1.5em;
          };
          @include extra-chico {
            font-size: 1.5em;
          };
        }

        h3 {
          font-size: 1.3em;
          text-transform: uppercase;
          @include chico {
            font-size: 1em;
          };
          @include extra-chico {
            font-size: 1em;
          };
        }

        .instrucciones {
          width: 100%;
          height: auto;
          position: absolute;
          bottom: 10px;

          p {
            font-size: 1.3em;
            text-transform: uppercase;
            color: #{$dorado};
            @include chico {
              font-size: 0.8em;
            };
            @include extra-chico {
              font-size: 0.8em;
            };
          }
        }
      }

      .intro-1 {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        @include chico-vertical {
          flex-direction: column;
        };
        @include extra-chico-vertical {
          flex-direction: column;
        };

        a.link-full {
          display: flex;
          width: 100%;
          color: #fff;
          text-decoration: none;
          font-family: sans-serif;
        }

        > div {
          display: flex;
          flex-grow: 0;
          flex-basis: 50%;
          padding: 20px;
          transition: 1s ease;
          background-position: left top;
          background-repeat: no-repeat;
          background-size: cover;

          &:hover {
            // filter: blur(1px);
          }
        }

        .titulo-intro {
          display: flex;
          align-self: flex-end;
          width: 100%;
          flex-direction: column;

          h1,
          h2,
          h3,
          p {
            width: 100%;
            text-transform: uppercase;
          }

          h1 {
            font-size: 2.5em;

            small {
              font-size: 0.6em;
            }
          }
        }
      }

      .contenido {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        max-width: 650px;
        width: 100%;
        margin: auto;
        @include mediano {
          padding: 40px 20px;
        };
        @include chico {
          width: 94%;
        };
        @include extra-chico {
          width: 94%;
        };
        @include chico-vertical {
          width: 90%;
        }
        @include extra-chico-vertical {
          width: 90%;
        };
      }

      .contenido-full {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        flex-grow: 0;
        padding: 0;
        max-width: 1500px;
        margin: auto;

        &.centrado {
          align-items: center;
          justify-content: center;
        }
      }

      .articulo-mitad {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row;
        @include chico-vertical {
          flex-direction: column;
          width: 100%;
        };
        @include extra-chico-vertical {
          flex-direction: column;
          width: 100%;
        };

        .mitad {
          width: 50%;
          display: block;
          @include chico-vertical {
            width: 100%;
          };
          @include extra-chico-vertical {
            width: 100%;
          };
        }

        &.siguiente-historia {
          .contenido-articulo {
            .espaciado-contenido {
              display: flex;
              flex-direction: column;
              height: 100%;
              justify-content: space-between;

              .texto {}

              .vinculo {
                display: flex;
                justify-content: flex-end;
                flex-direction: column;
                a{
                  text-decoration: none;
                  text-align: right;
                  img{
                    width: 70px;

                  }
                  h3{
                    text-align: right;
                  }
                }
              }
            }
          }
        }

      }

      .contenido-articulo {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include chico-vertical {
          width: 96%;
        };
        @include extra-chico-vertical {
          width: 96%;
        };

        h1.titulo {
          font-size: 2.6em;
          text-transform: uppercase;
          margin-bottom: 10px;
          font-family: sans-serif;
          @include chico {
            font-size: 2em;
            text-align: center;
          };
          @include extra-chico {
            font-size: 2em;
            text-align: center;
          };
        }

        .autor-redes {
          display: flex;
          width: 100%;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          @include chico {
            flex-direction: column;
          };
          @include extra-chico {
            flex-direction: column;
          };

          .autor {
            p {
              margin: 0;
              text-transform: uppercase;
              font-weight: bold;
              color: gray;
              @include chico {
                font-size: 1em;
              };
              @include extra-chico {
                font-size: 1em;
              };
            }
          }
        }

        div.espaciado-contenido {
          padding: 40px;
          @include chico-vertical {
            padding: 20px;
          };
          @include extra-chico-vertical {
            padding: 20px;
          };
        }
      }

      .contenido-foto {}

      &.bg-blanco {
        background-color: #fff;
        color: #{$color-texto-1};
      }

      &.bg-negro {
        background-color: #000;
        color: #{$color-texto-2};
      }

      &.mobil-bg-blanco {
        @include chico{
          background-color: #fff !important;
          color: #{$color-texto-1} !important;
        };
        @include extra-chico{
          background-color: #fff !important;
          color: #{$color-texto-1} !important;
        };
      }

      &.mobil-bg-negro {
        @include chico{
          background-color: #000 !important;
          color: #{$color-texto-2} !important;
        };
        @include extra-chico{
          background-color: #000 !important;
          color: #{$color-texto-2} !important;          
        };
      }
    }
  }
}
