/*mixins para los media query*/
/*mixins para los media query*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  line-height: 1.2em;
  margin-bottom: 1em;
  font-family: sans-serif;
  font-size: 1.1em;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  p {
    font-size: 1em;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  p {
    font-size: 1em;
  }
}

strong {
  font-weight: 800;
}

figure {
  display: block;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  figure {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  figure {
    margin-bottom: 20px;
  }
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: auto;
  display: block;
}

.blur {
  -webkit-animation: 0.8s ease;
          animation: 0.8s ease;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  opacity: 0.5;
}

.blur-suave {
  -webkit-animation: 0.8s ease;
          animation: 0.8s ease;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  opacity: 0.9;
}

.grayscale {
  -webkit-animation: 0.8s ease;
          animation: 0.8s ease;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.7;
}

.sepia {
  -webkit-animation: 0.8s ease;
          animation: 0.8s ease;
  -webkit-filter: sepia(100%);
          filter: sepia(100%);
  opacity: 0.7;
}

.no-overflow {
  overflow: hidden;
}

.mobil {
  display: none !important;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .mobil {
    display: block !important;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  .mobil {
    display: block !important;
  }
}

.desktop {
  display: block !important;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .desktop {
    display: none !important;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  .desktop {
    display: none !important;
  }
}

.creditofoto {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 10px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.creditofoto p {
  text-align: center;
}

figure .creditofoto {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 10px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  figure .creditofoto {
    position: relative;
    bottom: auto;
    margin-top: 20px;
    border-bottom: solid 1px #000;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  figure .creditofoto {
    position: relative;
    bottom: auto;
    margin-top: 20px;
    border-bottom: solid 1px #000;
  }
}
figure .creditofoto p {
  text-align: center;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  figure .creditofoto p {
    width: 100%;
    font-size: 0.9em;
    text-align: right;
    line-height: normal;
    padding: 0 10px;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  figure .creditofoto p {
    width: 100%;
    font-size: 0.9em;
    text-align: right;
    line-height: normal;
    padding: 0 10px;
  }
}

.txt-blanco h3 {
  color: #fff;
  font-size: 1.6em;
  margin-bottom: 0.6em;
  text-align: center;
}
.txt-blanco p {
  color: #fff;
}
.txt-blanco blockquote {
  color: #fff;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .mobil-txt-blanco h3 {
    color: #fff !important;
    font-size: 1.6em;
    margin-bottom: 0.6em;
    text-align: center;
  }
  .mobil-txt-blanco p {
    color: #fff !important;
  }
  .mobil-txt-blanco blockquote {
    color: #fff !important;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  .mobil-txt-blanco h3 {
    color: #fff !important;
    font-size: 2.4em;
    margin-bottom: 0.6em;
    text-align: center;
  }
  .mobil-txt-blanco p {
    color: #fff !important;
  }
  .mobil-txt-blanco blockquote {
    color: #fff !important;
  }
}

.txt-negro h3 {
  color: #000;
  font-size: 2.4em;
  margin-bottom: 0.6em;
  text-align: center;
}
.txt-negro p {
  color: #000;
}
.txt-negro blockquote {
  color: #000;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .mobil-txt-negro h3 {
    color: #000 !important;
    font-size: 2.4em;
    margin-bottom: 0.6em;
    text-align: center !important;
  }
  .mobil-txt-negro p {
    color: #000 !important;
  }
  .mobil-txt-negro blockquote {
    color: #000 !important;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  .mobil-txt-negro h3 {
    color: #000 !important;
    font-size: 2.4em;
    margin-bottom: 0.6em;
    text-align: center !important;
  }
  .mobil-txt-negro p {
    color: #000 !important;
  }
  .mobil-txt-negro blockquote {
    color: #000 !important;
  }
}

.txt-izquierda {
  text-align: left;
}

.txt-derecha {
  text-align: right;
}

.dorado {
  color: #C09632;
}

.medio {
  width: 50%;
  display: block;
  position: relative;
  float: left;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .medio {
    width: 100% !important;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  .medio {
    width: 100% !important;
  }
}

.tercio {
  width: 33.33333%;
  display: block;
  position: relative;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .tercio {
    width: 100% !important;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  .tercio {
    width: 100% !important;
  }
}

.cuarto {
  width: 25%;
  display: block;
  position: relative;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .cuarto {
    width: 100% !important;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  .cuarto {
    width: 100% !important;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .mobil-invertir-columnas {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  .mobil-invertir-columnas {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .mobil-invertir-filas {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: row-reverse !important;
            flex-direction: row-reverse !important;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  .mobil-invertir-filas {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: row-reverse !important;
            flex-direction: row-reverse !important;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .mobil-sin-fondo {
    background-image: none !important;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  .mobil-sin-fondo {
    background-image: none !important;
  }
}

.alinea-izquierda {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 40px;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .alinea-izquierda {
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  .alinea-izquierda {
    width: 100%;
    padding: 0;
  }
}
.alinea-izquierda h1,
.alinea-izquierda h2,
.alinea-izquierda h3,
.alinea-izquierda p {
  text-align: left;
}

.alinea-derecha {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 40px;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .alinea-derecha {
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  .alinea-derecha {
    width: 100%;
    padding: 0;
  }
}
.alinea-derecha h1,
.alinea-derecha h2,
.alinea-derecha h3,
.alinea-derecha p {
  text-align: left;
}

.cycle-overlay {
  z-index: 101;
  width: 100%;
  color: #fff;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  opacity: 0.8;
}
.cycle-overlay p {
  margin-bottom: 0;
  padding: 10px;
}

.primera-letra {
  float: left;
  font-size: 8em;
  margin-top: -0.16em;
  font-family: serif;
  font-weight: 800;
  padding: 0;
  line-height: 1;
  margin: 0 10px;
}

blockquote {
  font-size: 1.4em;
  font-weight: bold;
}

.share-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .share-article {
    margin: 20px auto;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  .share-article {
    margin: 20px auto;
  }
}
.share-article ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.share-article ul li {
  margin: 5px;
}
.share-article ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.share-article ul li a.facebook {
  background-image: url("../img/facebook.png");
}
.share-article ul li a.twitter {
  background-image: url("../img/twitter.png");
}
.share-article ul li a.email {
  background-image: url("../img/email.png");
}
.share-article ul li a.print {
  background-image: url("../img/printer.png");
}

.divisor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.divisor::before {
  content: "";
  width: 40%;
  position: absolute;
  height: 2px;
  background-color: #000;
  top: 50%;
  left: 0;
}
.divisor::after {
  content: "";
  width: 40%;
  position: absolute;
  height: 2px;
  background-color: #000;
  top: 50%;
  right: 0;
}

#contenedor-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}
#contenedor-principal #circuloLoader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: 0.6s ease-out;
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  z-index: 10;
  margin-left: 30px;
}
#contenedor-principal #circuloLoader.activo {
  width: 450vh;
  height: 450vh;
}
#contenedor-principal #infoEstado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #000;
  z-index: 10;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #contenedor-principal #infoEstado {
    bottom: 0;
    top: auto;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  #contenedor-principal #infoEstado {
    bottom: 0;
    top: auto;
  }
}
#contenedor-principal #infoEstado p {
  margin: 0;
  color: #fff;
  font-weight: bold;
}
#contenedor-principal #menu-desplegable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  background-color: #fff;
  width: calc(100% - 60px);
  height: 100%;
  top: 0;
  right: 0;
  z-index: 3;
  opacity: 0;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
  z-index: 1;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #contenedor-principal #menu-desplegable {
    width: 100%;
    height: calc(100% - 60px);
    top: 60px;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  #contenedor-principal #menu-desplegable {
    width: 100%;
    height: calc(100% - 60px);
    top: 60px;
  }
}
#contenedor-principal #menu-desplegable #menu-mapa {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}
#contenedor-principal #menu-desplegable #menu-mapa svg {
  margin: auto;
  max-width: 100%;
  height: auto;
}
#contenedor-principal #menu-desplegable #menu-mapa svg path {
  stroke: #ccc !important;
  stroke-width: 1.4;
}
#contenedor-principal #menu-desplegable #menu-mapa svg .estado-valido {
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
#contenedor-principal #menu-desplegable #menu-mapa svg .estado-valido:hover {
  opacity: 0.8;
}
#contenedor-principal #menu-desplegable.active {
  right: 0;
  opacity: 1;
  z-index: 5;
}
#contenedor-principal #menu-desplegable.active #menu-mapa {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  opacity: 1;
}
#contenedor-principal #fondo {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  overflow: hidden;
}
#contenedor-principal #fondo > div {
  width: 100%;
  min-height: 100%;
}
#contenedor-principal #fondo > div .bg-negro {
  background-color: #000;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #contenedor-principal #fondo {
    padding: 0;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  #contenedor-principal #fondo {
    padding: 0;
  }
}
#contenedor-principal #fondo img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 769px) and (max-width: 1199px) {
  #contenedor-principal #fondo img {
    width: auto;
    height: 100%;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #contenedor-principal #fondo img {
    width: auto;
    height: 100%;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  #contenedor-principal #fondo img {
    width: auto;
    height: 100%;
  }
}
#contenedor-principal #menu {
  z-index: 3;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60px;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #fff;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #contenedor-principal #menu {
    height: 60px;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  #contenedor-principal #menu {
    height: 60px;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
#contenedor-principal #menu #logo {
  z-index: 2;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #contenedor-principal #menu #logo {
    height: 60px;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  #contenedor-principal #menu #logo {
    height: 60px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #contenedor-principal #menu #logo a {
    height: 60px;
    width: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  #contenedor-principal #menu #logo a {
    height: 60px;
    width: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
#contenedor-principal #menu ul {
  width: 80%;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #contenedor-principal #menu ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: auto;
    margin: 10px;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  #contenedor-principal #menu ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: auto;
    margin: 10px;
  }
}
#contenedor-principal #menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
#contenedor-principal #menu ul li #circuloMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}
#contenedor-principal #menu ul li #circuloMenu.activo {
  width: 450vh;
  height: 450vh;
}
#contenedor-principal #menu ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}
#contenedor-principal #menu ul li a img {
  width: 25px;
  height: 25px;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #contenedor-principal #menu ul li a img {
    margin: auto 10px;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  #contenedor-principal #menu ul li a img {
    margin: auto 10px;
  }
}
#contenedor-principal #menu ul li ul#redesSociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  left: 0;
  z-index: 4;
  opacity: 0;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #contenedor-principal #menu ul li ul#redesSociales {
    background-color: #fff;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  #contenedor-principal #menu ul li ul#redesSociales {
    background-color: #fff;
  }
}
#contenedor-principal #menu ul li ul#redesSociales::before {
  content: "";
  width: 0;
  top: 0;
  height: 1px;
  background-color: #000;
  margin: auto;
  position: relative;
  float: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
#contenedor-principal #menu ul li ul#redesSociales li {
  /*position: absolute;*/
  position: relative;
  top: 0;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 38px;
}
#contenedor-principal #menu ul li ul#redesSociales li:nth-child(1) {
  margin-top: 10px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
#contenedor-principal #menu ul li ul#redesSociales li:nth-child(2) {
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}
#contenedor-principal #menu ul li ul#redesSociales li:nth-child(3) {
  -webkit-transition: 1s ease;
  transition: 1s ease;
}
#contenedor-principal #menu ul li ul#redesSociales li a {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  background-size: 30px;
  top: -5px;
  background-repeat: no-repeat;
  background-position: center;
}
#contenedor-principal #menu ul li ul#redesSociales li a#facebook {
  background-image: url("../img/facebook-dark.png");
}
#contenedor-principal #menu ul li ul#redesSociales li a#twitter {
  background-image: url("../img/twitter-dark.png");
}
#contenedor-principal #menu ul li ul#redesSociales li a#google {
  background-image: url("../img/google-dark.png");
}
#contenedor-principal #menu ul li ul#redesSociales.activo {
  opacity: 1;
}
#contenedor-principal #menu ul li ul#redesSociales.activo::before {
  width: 90%;
}
#contenedor-principal #menu ul li ul#redesSociales.activo li {
  opacity: 1;
}
#contenedor-principal #menu ul li ul#redesSociales.activo li a {
  top: 0;
}
#contenedor-principal #controles {
  z-index: 3;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  right: 0;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00A96D;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #contenedor-principal #controles {
    top: 60px;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  #contenedor-principal #controles {
    top: 60px;
  }
}
#contenedor-principal #controles #bocina {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#contenedor-principal #controles p {
  margin-bottom: 0;
  color: #fff;
}
#contenedor-principal #contenedor {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-left: 60px;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #contenedor-principal #contenedor {
    padding: 0;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  #contenedor-principal #contenedor {
    padding: 0;
  }
}
#contenedor-principal #contenedor section.seccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  margin: 0;
}
#contenedor-principal #contenedor section.seccion.intro h1,
#contenedor-principal #contenedor section.seccion.intro h2,
#contenedor-principal #contenedor section.seccion.intro h3,
#contenedor-principal #contenedor section.seccion.intro p {
  text-align: center;
  line-height: 1.3em;
  margin-bottom: 0.2em;
}
#contenedor-principal #contenedor section.seccion.intro h1 {
  font-size: 4.5em;
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 800;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #contenedor-principal #contenedor section.seccion.intro h1 {
    font-size: 4em;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  #contenedor-principal #contenedor section.seccion.intro h1 {
    font-size: 4em;
  }
}
#contenedor-principal #contenedor section.seccion.intro h2 {
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #contenedor-principal #contenedor section.seccion.intro h2 {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  #contenedor-principal #contenedor section.seccion.intro h2 {
    font-size: 1.5em;
  }
}
#contenedor-principal #contenedor section.seccion.intro h3 {
  font-size: 1.3em;
  text-transform: uppercase;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #contenedor-principal #contenedor section.seccion.intro h3 {
    font-size: 1em;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  #contenedor-principal #contenedor section.seccion.intro h3 {
    font-size: 1em;
  }
}
#contenedor-principal #contenedor section.seccion.intro .instrucciones {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 10px;
}
#contenedor-principal #contenedor section.seccion.intro .instrucciones p {
  font-size: 1.3em;
  text-transform: uppercase;
  color: #C09632;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #contenedor-principal #contenedor section.seccion.intro .instrucciones p {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  #contenedor-principal #contenedor section.seccion.intro .instrucciones p {
    font-size: 0.8em;
  }
}
#contenedor-principal #contenedor section.seccion .intro-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
  #contenedor-principal #contenedor section.seccion .intro-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) and (orientation: portrait) {
  #contenedor-principal #contenedor section.seccion .intro-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
#contenedor-principal #contenedor section.seccion .intro-1 a.link-full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  color: #fff;
  text-decoration: none;
  font-family: sans-serif;
}
#contenedor-principal #contenedor section.seccion .intro-1 > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 20px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
}
#contenedor-principal #contenedor section.seccion .intro-1 .titulo-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#contenedor-principal #contenedor section.seccion .intro-1 .titulo-intro h1,
#contenedor-principal #contenedor section.seccion .intro-1 .titulo-intro h2,
#contenedor-principal #contenedor section.seccion .intro-1 .titulo-intro h3,
#contenedor-principal #contenedor section.seccion .intro-1 .titulo-intro p {
  width: 100%;
  text-transform: uppercase;
}
#contenedor-principal #contenedor section.seccion .intro-1 .titulo-intro h1 {
  font-size: 2.5em;
}
#contenedor-principal #contenedor section.seccion .intro-1 .titulo-intro h1 small {
  font-size: 0.6em;
}
#contenedor-principal #contenedor section.seccion .contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
  max-width: 650px;
  width: 100%;
  margin: auto;
}
@media screen and (min-width: 769px) and (max-width: 1199px) {
  #contenedor-principal #contenedor section.seccion .contenido {
    padding: 40px 20px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #contenedor-principal #contenedor section.seccion .contenido {
    width: 94%;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  #contenedor-principal #contenedor section.seccion .contenido {
    width: 94%;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
  #contenedor-principal #contenedor section.seccion .contenido {
    width: 90%;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) and (orientation: portrait) {
  #contenedor-principal #contenedor section.seccion .contenido {
    width: 90%;
  }
}
#contenedor-principal #contenedor section.seccion .contenido-full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding: 0;
  max-width: 1500px;
  margin: auto;
}
#contenedor-principal #contenedor section.seccion .contenido-full.centrado {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#contenedor-principal #contenedor section.seccion .articulo-mitad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
  #contenedor-principal #contenedor section.seccion .articulo-mitad {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) and (orientation: portrait) {
  #contenedor-principal #contenedor section.seccion .articulo-mitad {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}
#contenedor-principal #contenedor section.seccion .articulo-mitad .mitad {
  width: 50%;
  display: block;
}
@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
  #contenedor-principal #contenedor section.seccion .articulo-mitad .mitad {
    width: 100%;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) and (orientation: portrait) {
  #contenedor-principal #contenedor section.seccion .articulo-mitad .mitad {
    width: 100%;
  }
}
#contenedor-principal #contenedor section.seccion .articulo-mitad.siguiente-historia .contenido-articulo .espaciado-contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#contenedor-principal #contenedor section.seccion .articulo-mitad.siguiente-historia .contenido-articulo .espaciado-contenido .vinculo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#contenedor-principal #contenedor section.seccion .articulo-mitad.siguiente-historia .contenido-articulo .espaciado-contenido .vinculo a {
  text-decoration: none;
  text-align: right;
}
#contenedor-principal #contenedor section.seccion .articulo-mitad.siguiente-historia .contenido-articulo .espaciado-contenido .vinculo a img {
  width: 70px;
}
#contenedor-principal #contenedor section.seccion .articulo-mitad.siguiente-historia .contenido-articulo .espaciado-contenido .vinculo a h3 {
  text-align: right;
}
#contenedor-principal #contenedor section.seccion .contenido-articulo {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
  #contenedor-principal #contenedor section.seccion .contenido-articulo {
    width: 96%;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) and (orientation: portrait) {
  #contenedor-principal #contenedor section.seccion .contenido-articulo {
    width: 96%;
  }
}
#contenedor-principal #contenedor section.seccion .contenido-articulo h1.titulo {
  font-size: 2.6em;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: sans-serif;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #contenedor-principal #contenedor section.seccion .contenido-articulo h1.titulo {
    font-size: 2em;
    text-align: center;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  #contenedor-principal #contenedor section.seccion .contenido-articulo h1.titulo {
    font-size: 2em;
    text-align: center;
  }
}
#contenedor-principal #contenedor section.seccion .contenido-articulo .autor-redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #contenedor-principal #contenedor section.seccion .contenido-articulo .autor-redes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  #contenedor-principal #contenedor section.seccion .contenido-articulo .autor-redes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
#contenedor-principal #contenedor section.seccion .contenido-articulo .autor-redes .autor p {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #contenedor-principal #contenedor section.seccion .contenido-articulo .autor-redes .autor p {
    font-size: 1em;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  #contenedor-principal #contenedor section.seccion .contenido-articulo .autor-redes .autor p {
    font-size: 1em;
  }
}
#contenedor-principal #contenedor section.seccion .contenido-articulo div.espaciado-contenido {
  padding: 40px;
}
@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
  #contenedor-principal #contenedor section.seccion .contenido-articulo div.espaciado-contenido {
    padding: 20px;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) and (orientation: portrait) {
  #contenedor-principal #contenedor section.seccion .contenido-articulo div.espaciado-contenido {
    padding: 20px;
  }
}
#contenedor-principal #contenedor section.seccion.bg-blanco {
  background-color: #fff;
  color: #000;
}
#contenedor-principal #contenedor section.seccion.bg-negro {
  background-color: #000;
  color: #fff;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #contenedor-principal #contenedor section.seccion.mobil-bg-blanco {
    background-color: #fff !important;
    color: #000 !important;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  #contenedor-principal #contenedor section.seccion.mobil-bg-blanco {
    background-color: #fff !important;
    color: #000 !important;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #contenedor-principal #contenedor section.seccion.mobil-bg-negro {
    background-color: #000 !important;
    color: #fff !important;
  }
}
@media screen and (max-width: 480px) and (min-width: 1px) {
  #contenedor-principal #contenedor section.seccion.mobil-bg-negro {
    background-color: #000 !important;
    color: #fff !important;
  }
}

/*# sourceMappingURL=estilos.css.map */