/*mixins para los media query*/
/*mixins para los media query*/
.intro-1 > div {
  cursor: pointer;
}
.intro-1 > div:nth-child(1) {
  background-image: url(../img/sonora/JornaleroS-Sonora-Mozocoba-08a.png);
}
.intro-1 > div:nth-child(2) {
  background-image: url(../img/placeholder2.jpg);
}

#infoEstado {
  background-color: orange !important;
}
#infoEstado p {
  color: #fff;
}

#contenedor-principal #circuloLoader {
  background-color: orange !important;
}

#sonora-foto-2 {
  background-image: url(../img/sonora/02.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#sonora-foto-3 {
  background-image: url(../img/sonora/03.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#sonora-foto-4 {
  background-image: url(../img/sonora/06.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#sonora-foto-5 {
  background-image: url(../img/sonora/07.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#sonora-foto-6 {
  background-image: url(../img/sonora/09.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#sonora-foto-7 {
  background-image: url(../img/sonora/10.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#sonora-foto-8 {
  background-image: url(../img/sonora/11.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#sonora-foto-9 {
  background-image: url(../img/sonora/11.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#sonora-foto-10 {
  background-image: url(../img/sonora/04.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#sonora-foto-11 {
  background-image: url(../img/sonora/12.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.primera-letra {
  color: orange !important;
}

/*# sourceMappingURL=sonora.css.map */