$mediaQuery-extra-chico: "screen and (max-width: 480px) and (min-width:1px)";
$mediaQuery-chico: "screen and (min-width: 481px) and (max-width:768px)";
$mediaQuery-mediano: "screen and (min-width: 769px) and (max-width:1199px)";
$mediaQuery-grande: "screen and (min-width: 1200px)";

/*mixins para los media query*/
@mixin grande {
  @media #{$mediaQuery-grande} {
    @content;
  }
}

@mixin mediano {
  @media #{$mediaQuery-mediano} {
    @content;
  }
}

@mixin chico {
  @media #{$mediaQuery-chico} {
    @content;
  }
}

@mixin extra-chico {
  @media #{$mediaQuery-extra-chico} {
    @content;
  }
}



@mixin mediano-vertical {
  @media #{$mediaQuery-mediano} and (orientation:portrait){
    @content;
  }
}

@mixin chico-vertical {
  @media #{$mediaQuery-chico} and (orientation:portrait){
    @content;
  }
}

@mixin extra-chico-vertical {
  @media #{$mediaQuery-extra-chico} and (orientation:portrait){
    @content;
  }
}


@mixin mediano-horizontal {
  @media #{$mediaQuery-mediano} and (orientation:landscape){
    @content;
  }
}

@mixin chico-horizontal {
  @media #{$mediaQuery-chico} and (orientation:landscape){
    @content;
  }
}

@mixin extra-chico-horizontal {
  @media #{$mediaQuery-extra-chico} and (orientation:landscape){
    @content;
  }
}
/*mixins para los media query*/
